<configuration>
  <property>
    <name>mapreduce.framework.name</name>
    <value>yarn</value>
  </property>

  <property>
    <name>yarn.app.mapreduce.am.env</name>
    <value>
HADOOP_COMMON_HOME=/usr/lib/hadoop,
HADOOP_HDFS_HOME=/usr/lib/hadoop-hdfs,
HADOOP_MAPRED_HOME=/usr/lib/hadoop-mapreduce
    </value>
  </property>

  <property>
    <name>mapreduce.map.env</name>
    <value>
HADOOP_COMMON_HOME=/usr/lib/hadoop,
HADOOP_HDFS_HOME=/usr/lib/hadoop-hdfs,
HADOOP_MAPRED_HOME=/usr/lib/hadoop-mapreduce
    </value>
  </property>

  <property>
    <name>mapreduce.reduce.env</name>
    <value>
HADOOP_COMMON_HOME=/usr/lib/hadoop,
HADOOP_HDFS_HOME=/usr/lib/hadoop-hdfs,
HADOOP_MAPRED_HOME=/usr/lib/hadoop-mapreduce
    </value>
  </property>

  <property>
    <name>mapreduce.application.classpath</name>
    <value>
/etc/hadoop/conf,
/etc/hadoop/conf/*,
/usr/lib/hadoop/*,
/usr/lib/hadoop/lib/*,
/usr/lib/hadoop-hdfs/*,
/usr/lib/hadoop-hdfs/lib/*,
/usr/lib/hadoop-mapreduce/*,
/usr/lib/hadoop-mapreduce/lib/*,
/usr/lib/hadoop-yarn/*,
/usr/lib/hadoop-yarn/lib/*
    </value>
  </property>

  <property>
    <name>mapreduce.jobhistory.address</name>
    <value>{{ jhs_rpc }}</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.webapp.address</name>
    <value>{{ jhs_webapp }}</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.done-dir</name>
    <value>{{ jhs_done_dir }}</value>
  </property>
  <property>
    <name>mapreduce.jobhistory.intermediate-done-dir</name>
    <value>{{ jhs_intermediate_dir }}</value>
  </property>
</configuration>
