[Unit]
Description=Hadoop YARN NodeManager
After=network.target
Wants=network.target

[Service]
Type=simple
User=hadoop
Group=hadoop
EnvironmentFile=-/etc/default/hadoop
WorkingDirectory=/var/lib/hadoop-yarn
ExecStart=/usr/bin/yarn --config ${HADOOP_CONF_DIR} nodemanager
Restart=on-failure
RestartSec=5
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
