[Unit]
Description=Hadoop HDFS NameNode
After=network.target
Wants=network.target

[Service]
Type=simple
User=hadoop
Group=hadoop
EnvironmentFile=-/etc/default/hadoop
WorkingDirectory=/var/lib/hadoop-hdfs
ExecStart=/usr/bin/hdfs --config ${HADOOP_CONF_DIR} namenode
Restart=on-failure
RestartSec=5
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
