<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>{{ fs_defaultfs }}</value>
  </property>

  <property>
    <name>hadoop.tmp.dir</name>
    <value>{{ hadoop_tmp_dir }}</value>
  </property>
</configuration>
