[Unit]
Description=Hadoop MapReduce JobHistoryServer
After=network.target
Wants=network.target

[Service]
Type=simple
User=hadoop
Group=hadoop
EnvironmentFile=-/etc/default/hadoop
ExecStart=/usr/bin/mapred --config ${HADOOP_CONF_DIR} historyserver
Restart=on-failure
RestartSec=5
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
