- name: systemd daemon-reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: restart hadoop services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
  loop:
    - hadoop-hdfs-namenode
    - hadoop-hdfs-datanode
    - hadoop-yarn-resourcemanager
    - hadoop-yarn-nodemanager
    - hadoop-yarn-timelineserver
    - hadoop-mapreduce-historyserver
  failed_when: false
