<configuration>
  <property>
    <name>zeppelin.server.addr</name>
    <value>{{ zeppelin_addr }}</value>
  </property>
  <property>
    <name>zeppelin.server.port</name>
    <value>{{ zeppelin_port }}</value>
  </property>
</configuration>